obj
bin
Bin
*.suo
*.cache
*.csproj.user
*.userprefs
_ReSharper.*
*.resharper
*.user
*.swp
.vs
artifacts/
bower_components/
**/wwwroot/lib/*
*.kproj.user
*.xproj.user
build
*.log
node_modules/
packages/
project.lock.json
**/Test/TestResults/
**/TestResults/
*.css
*.css.map
Source/TempStaticReferences/
**/js/templates.js
config.*.json
